.slideshow-container{
	width:80%;
	height: 500px;
	border: 1px solid grey;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	padding: 10px;
}

.slide{
	position: absolute;
}

.selectedSlide{
	transform: translateX(0px);
}